@mixin flex($align-item, $justify-contect){

    display: flex;
    align-items: $align-item;
    justify-content: $justify-contect;
}

@mixin mobile {
    @media only screen and (max-width: $mobile-width){
        @content;
    }
    
}
@mixin tablet {
    @media only screen and (max-width: $tablet-width){
        @content;
    }
    
}