.tasty_section {
    width: 100%;
    height: 450px;
    background-image: url("../../assets/images/kitchen-cloth-on-wood-table.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.tasty_section h2 {
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    /*text-transform: uppercase;*/
}

.fruit-datail-box {
    background-color: #9b9b9b;
}