@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");
.country-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: "Nunito Sans", sans-serif;
}

.country {
    padding: 20px 5px 5px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
}

.country h1 {
    font-size: 20px;
    line-height: 5px;
}

.color {
    color: #000000;
    font-weight: bold
}

.menu-1{
    display: inline-block;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 25%;
    text-align: justify;
    padding: 25px;
    border: 1px solid #000000;
    height: 450px;
    font-size: 16px;
} 

.menu-1 img{
    
    width: 250px;
    height: 150px;
}

.menu-1 button{
    background-color: #000000;
    color: #fff;
    padding: 10px 20px 10px 20px;
    margin-top: 40px;
    text-align: center;
}