.menu-1 {
    display: block;
    margin-top: 150px;
}

.menu-1 img {
    width: 90%;
    height: 250px;
}

.menu-1 button {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px 10px 20px;
    margin-top: 40px;
    text-align: center;
}

.menu-2 {
    display: inline-table;
    margin: 10px;
    width: 32%;
    text-align: justify;
    padding: 25px;
    border: 1px solid #000000;
    height: 450px;
    font-size: 16px;
}

.prueba {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 100px;
    width: 25%;
    text-align: justify;
    padding: 25px;
    border: 1px solid #000000;
    height: 450px;
    font-size: 16px;
}
.qty {
    width: 10em;
    margin-right: 5em;
    text-align: center;
}
.qty-1 {
    text-align: center;
}