.custom_heading {
    text-align: center;
    font-weight: bold;
}

.custom_heading-text {
    text-align: center;
}

.col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}