.title-container {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    background: linear-gradient( 135deg, #080808 0, #050505 25%, #0a0a0a 50%, #000000 75%, #000000 100%);
    background-clip: text;
    color: transparent;
}